@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	position: relative
	line-height: 1.65
	font-family: "Ubuntu"
	overflow-x: hidden
	margin: auto
	letter-spacing: 1px

h1
	color: $purple
	letter-spacing: 2px
	margin: 0
	margin-bottom: 20px

#no-pad
	padding: 75px 0 0 0 

.wrapper
	max-width: 400px
	margin: auto
	text-align: center
	padding: 75px 0
	position: relative
	.logo img
		width: 80%

.logo p
	color: $accent
	font-size: 21px
	margin-top: 15px

.enter
	background-color: $purple
	border-radius: 5px
	color: #fff
	display: block
	padding: 15px 0
	margin: auto
	margin-bottom: 20px
	margin-top: 30px
	width: 80%
	font-size: 18px
	&:hover,&:focus
		color: #000

.enter-inputs
	a
		color: $accent
		text-decoration: underline
		display: block
		text-align: right
	label
		display: inline-block
		position: relative
		float: left
		color: #d5dbed 	
		input[type='checkbox']
			margin-right: 15px
			display: inline-block
			vertical-align: middle
			width: auto
			text-indent: 0
		input[type='checkbox']:after
			font-family: 'times new roman'
			line-height: 15px
			position: absolute
			top: 0
			margin-top: 5px
			display: block
			width: 20px
			height: 20px
			content: ''
			transition: all .1s linear
			text-align: center
			color: #fff
			border: 1px solid #ced6eb
			border-radius: 5px
			background-color: #fff
			box-sizing: border-box
		input[type='checkbox']:checked:after
			font-size: 16px
			content: "•"
			color: $accent
			font-size: 40px

.reg
	position: absolute
	bottom: 0
	right: 0
	color: $purple
	font-size: 18px
	img
		height: 25px
		margin-left: 10px

.btn-bg
	color: #fff
	background-color: $purple
	display: block
	padding: 15px 0
	&:hover, &:focus
		color: #fff

.back img
		width: 30%
.menu
	position: absolute
	background-color: #fff
	z-index: 10000
	width: 320px
	overflow: auto
	transform: translateX(-100%)
	transition: transform .2s ease 
	.name
		font-weight: 900
		font-size: 16px
	.count 
		font-size: 14px
		span
			color: $accent
			font-size: 18px
			font-weight: 900
	.distance 
		font-size: 14px
		span
			color: $green
			font-size: 18px
			font-weight: 900
	ul
		margin: 0
		padding: 30px
		&.first
			border-bottom: 1px solid #ced6eb
		li
			list-style-type: none
			display: block
			padding: 20px 0
			a
				color: #000
				font-size: 18px
			img
				width: 35px
				margin-right: 20px


input
	width: 100%
	border: 1px solid #ced6eb
	margin: 10px 0
	padding: 15px 0
	text-indent: 15px
	border-radius: 3px
	outline: none
	&:focus::placeholder
		color: #9094a0
		transition: color .5s ease
	&::placeholder
		color: #ced6eb
		letter-spacing: 1px

.where input
	color: $accent


.first-input
	width: 75%
	float: left
	color: $purple

.entrance
	width: 23%
	float: right
	text-indent: 7px
	color: $purple
	&::placeholder
		font-size: 14px	

.order-input
	text-indent: 50px

.input-wrapp
	position: relative	
	&::before
		content: ''
		position: absolute
		width: 20px
		height: 20px
		background-color: #ebeef5
		border-radius: 50%
		left: 0
		padding: 0
		margin-left: 15px
		margin-top: 30px

.example
	position: relative	
	&::before
		content: ''
		position: absolute
		width: 20px
		height: 20px
		background-color: $purple
		border-radius: 50%
		left: 0
		padding: 0
		margin-left: 15px
		margin-top: 30px

.where
	position: relative	
	&::before
		content: ''
		position: absolute
		width: 20px
		height: 20px
		background-color: $accent
		border-radius: 50%
		left: 0
		padding: 0
		margin-left: 15px
		margin-top: 30px

.access
	color: #000
	font-size: 16px
	margin-bottom: 26px
	margin-top: 20px
	span
		color: $accent

.load
	margin: 100px 0  
	img
		width: 30%

.toggle-button
	position: absolute
	width: 100%
	left: 0
	top: 0
	margin-top: -13px
	margin-left: -5px

.menu-wrapp 
	background-color: $purple
	color: #fff
	padding: 20px
	img
	 width: 75px
	 height: auto
	 float: left
	 margin-right: 20px

.bonus
	background-color: $accent
	color: #fff
	font-size: 18px

.burger
	width: 30px
	display: inline-block
	position: relative


.dots
	width: 35px
	height: 10px
	display: inline-block
	position: relative
	img
		width: 100%
		top: 0
		right: 0
		margin-right: -5px

.top-menu-wrapp
	border-bottom: 1px solid #c7cfe3

.top-menu
	text-align: center
	padding-bottom: 15px
	ul
		margin: 0
		padding: 0
		display: inline-block
		li
			list-style-type: none
			display: inline-block
			margin: 0 10px
		.active
			border-bottom: 2px solid $purple
			padding-bottom: 5px	
		a
			color: #000
			font-size: 20px
			&:hover
				text-decoration: none		

.plus-dot
	text-align: right
	color: $purple
	margin: 5px 0
	&::before
		content: ''
		position: absolute
		width: 3.5px
		height: 110px
		top: 0
		left: 0
		margin-top: 43px
		margin-left: 38.5px
		z-index: 1	
		transform: rotate(180deg)
		background: linear-gradient(to top, $purple, $accent)


.price
	margin: 30px 0
	font-size: 21px

textarea
	margin-top: 20px
	width: 100%
	border: none
	border-top: 1px solid #ced6eb
	border-bottom: 1px solid #ced6eb
	outline: none
	height: 59px
	padding: 15px 17px
	resize: none
	color: #ced6eb
	&:focus::placeholder
		color: #9094a0
		transition: color .5s ease
	&::placeholder
		color: #ced6eb
		letter-spacing: 1px

.econom,.dop-services
	text-align: center
	margin: 20px 0 30px 0
	width: 100%
	a
		color: #fff
		padding: 15px 5px
		display: block
	&:active
		width: 80%
		margin: 20px auto		
		transition: width .25s ease

.econom
	background-color: $accent
	border-radius: 5px

.dop-services
	background-color: $purple
	border-radius: 5px


select
	width: 100%
	letter-spacing: 1px
	background-color: #fff
	border: none
	border: 1px solid #ced6eb
	padding: 15px 0
	outline: none
	border-radius: 3px
	text-indent: 15px

.price
	color: #00ad5d
	span
		color: $accent

.number-header
	font-size: 18px

.numbers
	display: block
	width: 100%
	.minus,.count,.plus
		display: inline-block
		font-size: 45px
		color: #fff
		width: 80px
		height: 70px
	.minus,.plus
		background-color: $purple
		border-radius: 5px
		margin-top: 20px
		span
			cursor: pointer
	.count
		color: $accent		

.to-order
	width: 100%
	background-color: $purple
	text-align: center
	display: inline-block
	margin-top: 30px
	a
		color: #fff
		font-size: 24px
		padding: 25px 0
		display: block

.races-wrapp
	padding: 30px
	border-bottom: 1px solid #ced6eb

.races-item
	text-align: left
	font-weight: 900
	font-size: 12px
	width: 50%
	float: left
	.races-head
		position: relative
		&::before
			content: ''
			position: absolute
			width: 13px
			height: 13px
			background-color: $purple
			border-radius: 50%
			left: 0
			top: 0
			padding: 0
			margin-left: -22px
			margin-top: 3px
	.races-time
		font-weight: 100
		font-size: 11px
		color: #ced6eb
		margin: 8px 0
		position: relative
		span
			color: $green
			font-weight: 900
		&::before
			content: ''
			position: absolute
			width: 3.5px
			height: 50px
			top: 0
			left: 0
			margin-top: -12px
			margin-left: -17.5px
			z-index: 1	
			transform: rotate(180deg)
			background: linear-gradient(to top, $purple, $accent)
	.races-bottom
		position: relative
		&::before
			content: ''
			position: absolute
			width: 13px
			height: 13px
			background-color: $accent
			border-radius: 50%
			left: 0
			top: 0
			padding: 0
			margin-left: -22px
			margin-top: 9px				

.races-count
	color: $accent
	width: 15%
	float: left

.races-date
	text-align: right
	color: #ced6eb
	width: 35%
	float: right
	img
		width: 25%
		transform: scale (1, -1)
		margin-top: 17px

.extra
	transform: translateX(100%)	
	position: absolute
	background-color: #fff
	z-index: 3
	top: 0
	right: 0
	transition: all .2s ease

.extra-inputs
	margin-top: 30px
	input
		width: auto
		text-indent: 0
	label
		position: relative
		display: block
		margin-bottom: 20px
		cursor: pointer
	input[type='checkbox']
		margin-right: 20px
		display: inline-block
		vertical-align: middle
	input[type='checkbox']:after
		font-size: 0
		font-family: 'times new roman'
		line-height: 20px
		position: absolute
		top: 0
		left: 0
		margin-left: -4px
		margin-top: 5px
		display: block
		width: 18px
		height: 18px
		content: ''
		transition: all .1s linear
		text-align: center
		color: #fff
		border: 1px solid #ced6eb
		border-radius: 50%
		background-color: #fff
		box-sizing: border-box
	input[type='checkbox']:checked:after
		font-size: 16px
		content: "\2714"
		color: $accent
		border: none
		font-size: 21px

.extra-wrapp
	padding: 30px
	color: #fff
	text-align: center
	background-color: $purple

.information
	background-image: url(../img/map.png)
	background-size: cover
	height: 100vh
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5) inset
	position: relative

.driver-wrapper
	padding: 20px 15px
	border-radius: 0 0 5px 5px
	margin-top: 10px
	background-color: #fff
	position: relative
	&:before
		content: ''
		position: absolute
		height: 3px
		background-color: $accent
		top: 0
		left: 0
		width: 75%
	.driver-info
		padding-top: 20px
		width: 40%
		float: left
	.driver-img
		float: left
		width: 30%
		img
			width: 100%
	.driver-name
		padding-left: 10px
		width: 70%
		float: right
		text-align: left
		font-size: 12px
		.fa
			color: $accent
			margin-right: 5px
		p
			color: $purple
			margin: 0
			font-weight: 900

.car-info
	width: 60%
	float: right
	margin-bottom: 20px
	.car-name 
		text-align: right
		float: left
		font-size: 11px
		width: 50%
		color: #000
		padding-right: 5px
		p
			margin: 0
		img
			width: 15%
			margin-right: 10px
	.kilometers
		width: 30%
		float: left
		font-size: 11px
		text-align: center
		p
			margin: 0
			color: #000
			font-weight: 900
			font-size: 14px
	.price
		float: right
		margin: 0
		width: 20%
		color: $accent
		font-weight: 900
		padding-left: 5px		

.driver
	margin-bottom: 15px

.driver-buttons
	text-align: right
	display: inline-block
	width: 100%
	.accept-btn
		color: $green
		border: 1px solid $green
		border-radius: 3px
		padding: 5px 20px
		font-size: 12px
		display: inline-block
	.cancel-btn
		color: #db4949
		border: 1px solid #db4949
		border-radius: 3px
		padding: 5px 20px
		font-size: 12px
		display: inline-block

.map img
	width: 100%

.way-info
	position: relative
	padding: 20px
	&:before
		content: ''
		position: absolute
		height: 3px
		background-color: $accent
		top: 0
		left: 0
		width: 75%
	.time
		color: $accent

.client-img, .driver-img, .time-img
	margin: auto
	width: 50%
	height: 80px
	img
		width: 100%

.client-name, .driver-car 
	p
		color: $purple
		margin: 5px
		font-size: 14px

.client-name
	.fa
		color: $accent
		margin-right: 5px

.phone
	display: inline-block
	padding: 15px 0
	border-top: 1px solid #dfe3f0
	.probeg
		color: #dfe3f0
		margin-top: 4px

.phone-btn
	img
		width: 100%

.otmena
	border: 1px solid #db4949
	border-radius: 3px
	padding: 5px 10px
	font-size: 15px
	display: inline-block
	white-space: nowrap
	margin-top: 10px
	a
		color: #db4949
			
.offer
	background-color: #fff
	border-radius: 5px
	padding: 20px
	.offer-header
		font-weight: 900
	.numbers-header
		margin-top: 20px
		color: $purple
	.count
		margin: 0 20px	
	.minus
		background-color: #fff
		border: 1px solid #e7e7e7
		color: #e7e7e7 		
	.plus
		background-color: #fff
		border: 1px solid $purple
		color: $purple
	.driver-buttons
		text-align: center
		.accept-btn,.cancel-btn
			display: block
			color: #fff
		.accept-btn
			background-color: #00ad5d
			padding: 10px 0
			border-radius: 3px
			font-weight: 900
			margin-bottom: 10px
			margin-top: 25px
			font-size: 16px
		.cancel-btn
			background: 1px solid #db4949
			color: #db4949	
			padding: 10px 0
			border-radius: 3px
			font-weight: 900	
			font-size: 16px

.wait
	font-size: 21px
	font-weight: 900
	margin-top: 25px

.offer-wrapp
	bottom: 15px
	position: absolute

.popup
	display: none
	background-color: #fff
	padding: 20px 10px
	border-radius: 5px
	box-shadow: 0 0 0 1000px rgba(0,0,0,.5)
	margin-bottom: 17px
	.popup-header
		color: $purple
	.yes
		background-color: #00ad5d
		color: #fff
		padding: 5px 45px
		border-radius: 3px
		margin: 20px
		display: inline-block
	.no
		display: inline-block
		border: 1px solid #db4949
		color: #db4949
		padding: 5px 45px
		border-radius: 3px
		margin: 20px		

.no-border
	border: none				